<h1>All Sales</h1>



<p *ngIf="!sales"><em>Loading...</em></p>

<p-table [value]="sales" *ngIf="sales" dataKey="guid">
  <ng-template pTemplate="header">
    <tr>

     

      <th>ISBN</th>
      <th>Order Status</th>
      <th>Book Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">

    <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.salesId].index === rowIndex">
      <td colspan="6">
        <span style="font-weight:bold">Customer: </span> {{ rowData.customerName}} &nbsp;
        <span style="font-weight:bold">Order Date: </span> {{rowData.orderDate}} &nbsp;
        <span style="font-weight:bold">Sales Id: </span>  {{rowData.salesId}} &nbsp;
      </td>
    </tr>
    <tr>
    <td>{{ rowData.isbn}}</td>
    <td>{{ rowData.orderStatus}}</td>
    <td>{{ rowData.title}}</td>
    <td>{{ rowData.author}}</td>
    <td>{{ rowData.listPrice}}</td>
    <td>{{ rowData.orderQuantity}}</td>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="5">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>
