/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";



.text-harper {
  color: #01a7dc !important;
}

.text-harper-dark {
  color: #005089 !important;
}

.text-harper-title {
  color: #005089 !important;
  font-size: 18px;
  font-weight: bold;
}

.btn-harper {
  color: #fff;
  background-color: #01a7dc;
  border-color: #01a7dc;
  box-shadow: 1px 1px 1px #005089;
}

  .btn-harper:hover {
    color: #fff;
    background-color: #0180a9;
    border-color: #0180a9;
  }

  .btn-harper.focus, .btn-harper:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
  }

  .btn-harper.disabled, .btn-harper:disabled {
    color: #fff;
    background-color: #01a7dc;
    border-color: #01a7dc;
  }

  .btn-harper:not(:disabled):not(.disabled).active, .btn-harper:not(:disabled):not(.disabled):active, .show > .btn-harper.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }

    .btn-harper:not(:disabled):not(.disabled).active:focus, .btn-harper:not(:disabled):not(.disabled):active:focus, .show > .btn-harper.dropdown-toggle:focus {
      box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
    }
