<div *ngIf="step==='selectCustomer'">
  <p>Search for clients</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class=" ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
          <input pInputText style="width:100%" [(ngModel)]="searchKeyword" placeholder="Search by Customer Name or Customer Number" (input)="searchCustomers()" />
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isProcessing">
      <br />
      <p *ngIf="!customers"><em>Search to find customers.</em></p>
      <table class='table table-striped' *ngIf="customers">
        <thead>
          <tr>
            <th>Customer Number</th>
            <th>Customer Name</th>
            <th>Address Line1</th>
            <th>Address Line2</th>
            <th>Address Line3</th>
            <th>Create Sales</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.customerNumber}}</td>
            <td>{{ customer.customerName}}</td>
            <td>{{ customer.addressLine1}}</td>
            <td>{{ customer.addressLine2}}</td>
            <td>{{ customer.addressLine3}}</td>
            <td><button (click)="selectCustomer(customer)">+</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="isProcessing">
      Loading..
    </div>
  </div>
</div>

<div *ngIf="step==='selectTitle'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <p>New Sales For:</p>

      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <span class="text-dark">   {{selectedCustomer.customerName}} </span>
      </div>
      <div class="col-4"><button class="btn-harper" (click)="step='selectCustomer'">Return to Customer Selection</button></div>
    </div>

  </div>
 

</div>
